<div class="containner">
    <!-- <button (click)="displayTrainings()"> Formations</button> -->
    <ng-container *ngIf="cart">
        <table class="table table-striped table hover">
            <thead>
                <tr>
                    <th>ID</th> <th>NOM</th> <th>QUANTITE</th> <th>PRIX</th> <th>PANIER</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let training of cart">
                    <td>{{training.id}}</td>
                    <td>{{training.name}}</td>
                    <td>{{training.quantity}}</td>
                    <td>{{training.price}}</td>
                    <td><a class="btn btn-primary" (click)="onDelToCart(training)"> Supprimer </a></td>
                </tr>
            </tbody>
        </table>
    </ng-container> 
</div>

